body {
  margin: 0;
}
.hero {
  height: 100vh;
  background-image: url("./01.jpg");
  color: white;
  position: relative;
}
.hero h1 {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Kaushan Script", cursive;
  font-size: 80px;
}
.career {
  height: 100vh;
  text-align: center;
}
.appeal {
  height: 100vh;
  text-align: center;
}
.other {
  height: 100vh;
  text-align: center;
}
.footer {
  height: 100vh;
  text-align: center;
}
